@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  font-family: "Inter", sans-serif;
  --mantine-font-family: "Inter", sans-serif;
}
#root {
  height: 100%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sidebar{
  min-width: 250px;
  border-right: 1px solid #e4ebfa;
}
.sidebar li:hover{
  cursor: pointer;
  color: #635fc7 !important;
  background-color: rgba(99,95,199, 0.2);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.sidebar li.active{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #fff !important;
  background-color: #635fc7 !important;
}
.sidebar li.active:hover{
  color: #fff !important;
  background-color: #635fc7 !important;
}
.mode-wrapper {
  background-color: #e4ebfa ;
}
header{
  border-bottom: 1px solid #e4ebfa;
}
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 21px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.error {
  color: #dc362e;
}
main {
  background-color: #f4f7fd;
}
.board .column {
  width: 16.5rem;
}
.board .column:not(:first-child){
  margin-left: 1.5rem;
}
.board .column .title {
  letter-spacing: 0.1rem;
}
.add-column-wrapper {
  background-color: #f0f3fc;
}
.card:hover .card-title {
  color: #635fc7;
}
.dropdown-content.menu li div:hover{
  background-color: transparent !important;
  color: #000000 !important;
  font-weight: 500;
}